*{
margin:0;
padding:0;
}

.flex-box{
	width:80%;
	display:column;
	background:#b1ccbd;
	box-shadow:0 0 5px black;
	padding:3%;
	margin:auto;
}

.flex-item{
	display:flex;
    
	text-align:center;
}

.card{
	width:25%;
	padding:3%;
	margin:15px;
}

.card img{
	width:80%;
	padding:2%;
}
.getprice{
	width:100%;
	font-weight:bold;
}

